
@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="alert-danger">Your password has been changed successfully</p><br />

<a href="@Url.Action("Create","Users")">Login</a> <br />
<a href="@Url.Action("Index","Home")">Go back to the homepage</a> <br /><br />


