@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Help-A-Scholar is founded by 5 University Students, namely Jacquiline,Chulumanco,Lethokhule,Palesa and Ngcebo.
    <p>
  <br /><br />
    <p>
    Our initiative is to assist students who are less previledged to gain access to quality education and progress in their primary and highschool studies.This initiative is inline with Goal 4 of the United Nation Sustainable Developnment Goal.<br /><br /> We aim to collect as much stationary and book as possible to distribute to nations who lack adequate to proper schools and study materials.<br /> <br />Your assistance will have an impact on someone else's future. If you have books or stationary whether new or used that you would like to donate,please assist by reaching millions of scholars in impoverished communities.
</p>
