
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2> <br /><br />

<label class= "glyphicon-bold"> Head Office</label>
<address>
    66 Amazing Street<br />
    Johannesburg<br />
    7777<br />
    <abbr title="Phone">Phone number for Head Office:</abbr>
    011 111 7777
</address><br /><br />


<label class="glyphicon-bold">Address to deliver package in Gauteng(GP)</label>
<address>
    74 Mainland Street<br />
    Pretoria Park<br />
    7777<br />
    <abbr title="Phone">Phone number for GP Center :</abbr>
    012 555 9756
</address> <br /><br />

<label class="glyphicon-bold"> Address to deliver package in Kwa-Zulu Natal</label>
<address>
    62 Sesame Street<br />
    Umhlanga Rocks Business Park<br />
    8281<br />
    <abbr title="Phone">Phone number for KZN Center :</abbr>
    013 656 2010
</address>

<address>
    <strong>Support Email:</strong>   <a href="mailto:Support@example.com">HelpAScholar@Org.co.za</a><br />
</address>


