
@{
    ViewBag.Title = "HowToDonate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>How To Donate</h3><br />

<div>
    <h4>Important Information</h4><br />
    <p class="alert-info">The Donations that we take is Stationaries or Book Donations.</p>
    <p>You can either Donate your parcel via Courier or Deliver the package to one of our centers</p>
    <p>With regards to books. You can donate any type of book .It can be a novels(fiction or non-fiction),academic textbooks(any grade or university level) or even a counter  books for writing </p>
    <p>With regards to stationaries. You can donate any type of stationaries(e.g. pen,pencil,crayons, sharpner,eraser etc.)</p>
    <p> You can donate by either sending your a parcel or deliverying it to our center </p> <br />
</div>

<div>
   <h4> Instructions on How to donate</h4> <br />

    <h5 class="form-control"> Donations via Courier</h5>
    <p> <label id="bold">Step 1:</label> Call one of our centers OR Send us an email. <br /> If you are emailing us please make the subject of your email: I Want To Donate </p>
    <p><label id="bold">Step 2:</label> One of our call center agents will ask you for your personal detials OR send you a form via email to fill in . Pleae make sure that  all your information is correct. </p>
    <p><label id="bold">Step 3:</label> Once your information is saved on our system please proceed to send the parcel via a courier of your choice. We will not be paying any courier expenses or be responsible for any parcel lost due to the courier</p>
    <p> Remember to download a donations form to fill in detials of your donates on our homepage .Please send this donations form with your parcel</p>
    <p> If you have any concerns or queries regarding your donation please feel free to contact our center or email us @Html.ActionLink("Click here for contact information", "Contact")</p><br /><br />
</div>

<div>
    <h5 class="form-control"> Donations via Delivery</h5>
    <p> Please vist one of our centers @Html.ActionLink("Click here our center address", "Contact")  </p>
    <p> All detials of the donation process will be given to you by one of our center agents .Please make sure to bring your donation package with you.</p>
</div>







<div>

</div>